* {
    box-sizing: border-box;
    cursor: crosshair;
}

html {
    font-size: 16px;
    line-height: 1.5;
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header {
    text-align: center;
}

#myCanvas {
    border:1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#toolbox {
    border: 1px solid black;
    background-color: lightblue;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

#brushBtn {
    cursor: alias;
}

#eraserBtn {
    cursor: context-menu;
}